@tailwind base;
@tailwind components;
@tailwind utilities;

*, .body {
    /* color: #252323; */
    font-family: 'Lato', sans-serif;
}

.bg-primary {
    background-color: #456990;
}

.bg-secondary {
     background-color: #B9C6AE;
}

.bg-surface {
    background-color: #fffdf5;
}

.text-surface {
    color: #fffdf5;
}

.text-secondary {
    color: #ffd166;
    color: #353b3c;
    color: #252323;
}